# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.env
env
.idea/

# Coverage exceptions
django_test/htmlcov/
django_test/.coverage
django_test/.coverage.*
django_test/coverage.xml
django_test/*.cover